*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.0);
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}
.logo{
    width: 33%;
    display: flex;
    justify-content: center;
}
nav li{
    list-style: none;
    margin-right: 5%;
    color: aliceblue;
}
a{
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: #f5f5f5; 
    
}
nav h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
    font-weight: 100;
    color: white;
    
    
}
.menus{
    width: 33%;
    justify-content: center;
    
}
.menus >.nav-links{
    display: flex;
    justify-content: center;
}
.social{
    width: 33%;
    justify-content: center;
    
}
.social >.nav-links{
    display: flex;
    justify-content: center;
}
.home {
    width: 100%;
    height: 100vh;
    background-image: url("restaurant/images/background.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: center;
    
}
.menus2{
    display: none;
}
.home > .bg-black > h1{
    color: #f5f5f5;
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-weight: 100;
    font-size: 700%;
}
.home > .bg-black > p{
    color: #f5f5f5;
    
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
}
.home > .bg-black {
    padding-top: 30vh;
    overflow: hidden;
}

.specials {
    margin-top: 10%;
    width: 100%;
    height: fit-content;
    background-image: url("/restaurant/images/background.jpg
");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: center;
    overflow: visible;
}
.specials > .bg-black{
    background-color: rgb(0, 0, 0, 0.8); 
    width: 100%;
    height: fit-content;
    overflow: visible;
    padding-top: 40px;
    padding-bottom: 40px;
}
.specials h1{
    color: #f5f5f5;
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-weight: 100;
    font-size: 300%;
}
.specials> div > p{
    color: #f5f5f5;
    
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 2%;
}
.specials h2{
    color: #f5f5f5;
    font-family: 'times new roman', cursive;
    font-style: italic;
    font-weight: 100; 
    
}
.specialsg{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    /*grid-template-columns: 20% 20% 20% 20%;*/
    /*grid-template-columns: 45% 45%;*/
    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    

    
}
.specialsg div{
    height: auto;
    width: 80%;
    padding: 20px;
    justify-self: center;
}
.specialsg p{
    color: #f5f5f5;
    font-family: 'times new roman', cursive;
    font-style: italic;
    font-weight: 100; 
    margin-top: 4%;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
}
    
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    
    
}
@media screen and (max-width: 480px) {
    .menus2{
        height: 100vh;
        position: absolute;
        width: 0%;
        background-color: #ffffff;
        right: 0;
        overflow: hidden;
        transition: width 0.2s;
        display: block;
    }
    .menus, .social{
        display: none;
    }
    .menus2 .nav-links{
        display: inline;
        text-align: center;
    }
    .menus2 > .menus{
        display: inline-block;
        width: 100%;
        justify-content: center;
        margin-top: 10vh;
        position: absolute;
    }
    .menus2 li{
        list-style: none;
        color: black;
        margin-bottom: 3vh;
    }
    .menus2 a{
        color: black;
        text-decoration: none;
    }
    .menus2 .close-nav{
        height: 4vh;
        width: 4vh;
        position: absolute;
        margin-left: 80%;
        margin-top: 3.2vh;
        
    }
    .hamburger{
        position: fixed;
        
        display: block;
        
        width: 5%;
        height: 2.5%;
        margin-left: 42%;
        margin-top: 0%;
    }
    #line1, #line2, #line3{
        background-color: #f5f5f5;
        width: 100%;
        margin-bottom: 30%;
        height: 15%;
        
    }
    #line4{
        margin-top: 1.3vh;
        position: absolute;
        width: 100%;
        height: .3vh;
        background-color: #424242;
        transform: rotate(45deg);
    }
    #line5{
        margin-top: 1.5vh;
        position: absolute;
        width: 100%;
        height: .3vh;
        background-color: #424242;
        transform: rotate(315deg);
    }
    .home > .bg-black > h1{
        color: #f5f5f5;
        
        font-weight: 100;
        font-size: 3.6em;
    }
    .home > .bg-black > p{
        font-size: 15px;
    }
    .specials p{
        font-size: 15px;
    }
    .specialsg{
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        /*grid-template-columns: 20% 20% 20% 20%;*/
        /*grid-template-columns: 45% 45%;*/
        /*grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 25% 25% 25%;*/
        grid-template-columns: 1fr;
        
        
    
        
    }
}




