*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, html{
    height: 100%;
    position: relative;
}
header{
    top: 0%;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.0);
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}
.logo{
    width: 33%;
    display: flex;
    justify-content: center;
}
nav li{
    list-style: none;
    margin-right: 5%;
    color: aliceblue;
    transition: 0.2s;
    width: auto;
    vertical-align: center;
    
}
a{
    text-decoration: none;
}
header li:hover{
    margin-top: -1%;
}
nav a{
    text-decoration: none;
    color: #f5f5f5; 
    
}
nav h1, .name-h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
    font-weight: 100;
    color: white;
    
    
}
.menus{
    width: 33%;
    justify-content: center;
    
}
.menus >.nav-links{
    display: flex;
    justify-content: center;
}
.social{
    width: 33%;
    justify-content: center;
    
}
.social >.nav-links{
    display: flex;
    justify-content: center;
}
.home {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: center;
    margin-bottom: 7%;
}
.menus2{
    display: none;
}
.bg-black{
    background-color: rgb(0, 0, 0, 0.8); 
    width: 100%; 
    height: 100vh;
    padding: 5%;
}
.home > .bg-black > h1{
    color: #f5f5f5;
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-weight: 100;
    font-size: 700%;
}
.home > .bg-black > p{
    color: #f5f5f5;
    
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
}
.home > .bg-black {
    padding-top: 30vh;
    overflow: hidden;
}

.specials {
    margin-top: 10%;
    width: 100%;
    height: fit-content;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: center;
    overflow: visible;
}
.specials > .bg-black{
    background-color: rgb(0, 0, 0, 0.8); 
    width: 100%;
    height: fit-content;
    overflow: visible;
    padding-top: 40px;
    padding-bottom: 40px;
}
.specials h1{
    color: #f5f5f5;
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-weight: 100;
    font-size: 300%;
}
.specials> div > p{
    color: #f5f5f5;
    
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 2%;
}
.specials h2{
    color: #f5f5f5;
    font-family: 'times new roman', cursive;
    font-style: italic;
    font-weight: 100; 
    
}
.specialsg{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    /*grid-template-columns: 20% 20% 20% 20%;*/
    /*grid-template-columns: 45% 45%;*/
    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    

    
}
.specialsg div{
    height: auto;
    width: 80%;
    padding: 20px;
    justify-self: center;
}
.specialsg p{
    color: #f5f5f5;
    font-family: 'times new roman', cursive;
    font-style: italic;
    font-weight: 100; 
    margin-top: 4%;
}
.story{
    margin: auto;
    
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    
}
.story .chef{
    height: 400px;
    width: 70%;
    background-image: url("../images/hef.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top ;
    justify-self: center;
}
.storyt{
    text-align: center;
    width: 100%;
    padding: 8% 10% 10% 10%;
    justify-self: center;
    overflow: hidden;
    border-right: 1px solid #424242 ;
    
}
.reserv{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
}
.reserv form{
    text-align: center;
}
input[type=text], input[type=date], select, input[type=submit]{
    outline: none;
    width: 80%;
    height: 50px;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid #9c9999;
    background-color: #f5f5f5;
}
#submit{
    color: azure;
    border: none;
    background-color: rgb(51, 51, 51);
}
#submit:focus, #submit:hover{
    background-color: rgb(26, 26, 26);
    
}
option{
    max-height: 100px;
}
input[type=text]:focus, input[type=date]:focus{
    border: 1px solid black;
    background-color: #f5f5f5;
}
input[type="date"]::-webkit-inner-spin-button
 {
    display: none;
    -webkit-appearance: none;
}
.footer, .footer >{
    text-align: center;
}
.footer{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 7%;
    bottom: 0%;
}
.footer > .bg-black{
    height: auto;
    padding: 3%;
    text-align: center;
}

.footer .connect{
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2%;
    margin-bottom: 2% ;
}
.footer .sub-header{
    color: #f5f5f5;
    font-weight: 100;
}
.whiteob{
    color: #9c9999;
    margin-top: 1%;
}
.cpr {
    padding: 1%;
    color: rgb(151, 129, 129);
    background-color: black;
    margin: 0 -3% -3% -3%;
}
.container{
    width: 100%;
    height: auto;
}
.eatime-menu{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    
}
.menu-items{
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    transition: 0.2s;
}
.menu-items .item-price{
    font-weight: bold;
    color: rgb(114, 98, 88);
}
.menu-items .sub-header{
    text-decoration: underline;
}
.menu-items:hover{
    box-shadow: 0px 0px 5px 0px rgba(97, 97, 97, 0.8);
    margin-top: -1%;
}

.eatime{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: 10vh;
    position: relative;
}
.eatime img{
    filter: brightness(40%);
    width: 100%;    
}
.eatime p{
    position: absolute;
    font-size: 50px;
    color: aliceblue;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin-top: 3%;
}
@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
}
    
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    
    
}
@media screen and (max-width: 480px) {
    .menus2{
        height: 100%;
        position: fixed;
        width: 0%;
        background-color: #ffffff;
        right: 0;
        overflow: hidden;
        transition: width 0.2s;
        display: block;
        box-shadow: none; 
    }
    .menus, .social{
        display: none;
    }
    .menus2 .nav-links{
        display: inline;
        text-align: center;
    }
    .menus2 > .menus{
        display: inline-block;
        width: 100%;
        justify-content: center;
        margin-top: 10vh;
        position: absolute;
    }
    .menus2 li{
        list-style: none;
        color: black;
        margin-bottom: 3vh;
    }
    .menus2 a{
        color: black;
        text-decoration: none;
    }
    .menus2 .close-nav{
        height: 4vh;
        width: 4vh;
        position: absolute;
        margin-left: 80%;
        margin-top: 3.2vh;
        
    }
    .hamburger{
        position: fixed;
        
        display: block;
        
        width: 5%;
        height: 2.5%;
        margin-left: 42%;
        margin-top: 0%;
    }
    #line1, #line2, #line3{
        background-color: #f5f5f5;
        width: 100%;
        margin-bottom: 30%;
        height: 15%;
        
    }
    #line4{
        margin-top: 1.3vh;
        position: absolute;
        width: 100%;
        height: .3vh;
        background-color: #424242;
        transform: rotate(45deg);
    }
    #line5{
        margin-top: 1.5vh;
        position: absolute;
        width: 100%;
        height: .3vh;
        background-color: #424242;
        transform: rotate(315deg);
    }
    .home > .bg-black > h1{
        color: #f5f5f5;
        
        font-weight: 100;
        font-size: 3.6em;
    }
    .home > .bg-black > p{
        font-size: 15px;
    }
    .specials p{
        font-size: 15px;
    }
    .specialsg{
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        /*grid-template-columns: 20% 20% 20% 20%;*/
        /*grid-template-columns: 45% 45%;*/
        /*grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 25% 25% 25%;*/
        grid-template-columns: 1fr;
        
        
    
        
    }
    .story{
        grid-template-columns: 1fr;
    }
    .reserv {
        width:100%;
    }
    .storyt{
        border: none;
        padding: 0%;
    }
    .storyt p{
        font-size: 13px;
    }
    .chef{
        margin-top: 5%;
        height: 300px;
        width: 80%;
        background-size: cover;
    }
    .footer{
        font-size: 85%;
    }
    .footer .connect{
        grid-template-columns: 1fr;
    }
    .footer .connect-blocks{
        margin-top: 5%;
    }
    .footer .cpr{
        margin-top: 5%;
    }
    .eatime-menu{
        grid-template-columns: 1fr;
        width: 90%;
    }
    .menu-items{
        padding-top: 20px;
        border-bottom: 1px solid #424242;
    }
    .menu-items:hover{
        margin-top: 0%;
    }
    .eatime img{
        width: auto;
        height: 200px;
    }
    .menus2{
        z-index: 999;
        top: 0pt;
    }
    .eatime{
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin-top: 10vh;
        position: relative;
    }
    .eatime img{
        filter: brightness(40%);
        width: 100%;    
    }
    
}




